@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Poppins&family=Space+Mono&display=swap');

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , 'sans-serif';
}

.container{
    height: 100vh;
    width: 100vw;
    background-image: url(./assets_TicTacToe/gradient-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: hidden;
    display: grid;
    place-items: center;
}

.game-info{
    color: white;
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255,255,255,0.15);
    border-radius: 1rem;
    padding: 0.5rem;
    text-align: center;
    border: 1px solid rgba(255,255,255,0.25);
}

.tic-tac-toe{
    width: 90%;
    max-width: 20rem;
    background-color: rgba(255,255,255,0.15);
    border-radius: 1rem;
    padding: 2rem;
    border: 1px solid rgba(255,255,255,0.25);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    aspect-ratio: 1/1; /*Read doc*/
}

.box{
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    cursor: pointer;
    font-size: 3rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box1,.box2,.box4,.box5{
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

.box3,.box6{
    border-bottom: 2px solid white;
}

.box7,.box8{
    border-right: 2px solid white;
}

.btn{
    color: white;
    background-color: rgba(255,255,255,0.15);
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1rem;
    border: 1px solid rgba(255,255,255,0.25);
    padding: 0.5rem 2rem;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s linear;
    display: none;
}

.btn.active{
    display: block;
    opacity: 1;
    transition: opacity 0.3s linear;
}

.win{
    background-color: rgba(0, 255, 0, 0.3);
}