@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

*,
*::before, 
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Merriweather Sans" , sans-serif;
}
*::selection{
    color: black;
    background-color: rgba(255, 255, 255, 0.7);
}

:root{
    --colorDark1: #112D4E;
    --colorDark2: #3F72AF;
    --colorLight1: #DBE2EF;
    --colorLight2: #F9F7F7;
}

.current-tab{
    background-color: rgba(219,226,239,0.5);
    border-radius: 15px;
    transition: background-color 0.2s linear;
}


.error-msg{
    color: red;
    font-size: 5rem;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    color: var(--colorLight2);
    background-image: linear-gradient(160deg , #112d4e 0%, #3f72af 100%);
    overflow-y: auto;
}

h1{
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
}

.tabs{
    display: flex;
    justify-content: space-between;
    max-width: 550px;
    margin: 0 auto;
    margin-top: 4rem;
    width: 90%;
}

.tab{
    cursor: pointer;
    font-size: 0.875rem;
    letter-spacing: 1.75px;
    padding: 5px 8px;
}

.weather-container{
    margin-block: 4rem;
}

.btn{
    all: unset;
    border-radius: 20px;
    background-color: var(--colorDark2);
    cursor: pointer;
}

.grant-btn{
    padding: 10px 30px;
    margin-bottom: 10px;
    font-size: 0.85rem;
    text-transform: uppercase;
}

.sub-container{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.grant-location-container{
    display: none;
}
/*
In CSS, a selector like .wrapper.active with two classes separated by a dot represents an element that has both the "wrapper" and "active" classes simultaneously. This is known as a compound class selector.*/
.grant-location-container.active{
    display: flex;
}

.grant-location-container img{
    margin-bottom: 2rem;
}

.grant-location-container p:first-of-type{
    font-size: 1.75rem;
    font-weight: 600;
}

.grant-location-container p:last-of-type{
    font-size: 0.85rem;
    font-weight: 500;
    margin-top: 0.75rem;
    margin-bottom: 1.75rem;
    letter-spacing: 0.75px;
}

.loading-container{
    display: none;
}

.loading-container.active{
    display: flex;
}

.loading-container p{
    text-transform: uppercase;
}

.user-weather-container{
    display: none;
}

.user-weather-container.active{
    display: flex;
}

.user-weather-container p[data-weatherDesc]{
    text-transform: capitalize;
}

.name{
    display: flex;
    align-items: center;
    gap: 0 0.5rem;
    margin-bottom: 1rem;
}

.name p{
    font-size: 2rem;
}

.weather-container img{
    width: 90px;
    height: 90px;
}

.name img{
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.weather-container p{
    font-size: 3.5rem;
    font-weight: 200;
}

.weather-container p[data-temp]{
    font-size: 2.75rem;
    font-weight: 700;
}

.weather-details{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
    justify-content: center;
    margin-top: 2rem;
}

.weather-detail{
    min-width: 200px;
    width: 40%;
    max-width: 200px;
    background-color: rgba(219,226,239,0.5);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px 0;
    padding: 1rem;
}

.weather-detail img{
    width: 50px;
    height: 50px;
}

.weather-detail p:first-of-type{
    font-size: 1.15rem;
    font-weight: 600;
    text-transform: uppercase;
}

.weather-detail p:last-of-type{
    font-size: 1rem;
    font-weight: 200;
}

.form-container{
    display: none;
    width: 90%;
    max-width: 550px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 0 10px;
    margin-bottom: 3rem;
}

.form-container input{
    all: unset;
    width: calc(100% - 80px);
    height: 40px;
    padding-left: 0 20px;
    background-color: rgba(219,226,239,0.5);
    border-radius: 15px;
}

.form-container input::placeholder{
    padding-left: 6px;
    color: rgba(255,255,255,0.7);
}

.form-container input:focus{
    outline: 3px solid rgba(255, 255, 255, 0.7);
}

.form-container.active{
    display: flex;
}

.form-container img{
    width: 20px;
    height: 20px;
}

.search{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.not-found{
    display: none;
    scale: 2;
    margin: 100px auto;
}

.not-found.active{
    display: block;
}